#adminmenuwrap {
    background-color: #fff !important;
    width: 250px;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback {
    width: 250px;
    background-color: #2c3e50;
}
/*
#adminmenuwrap {
    background-color: #fff !important;
    width: 250px;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback{
    width: 250px;
}*/
#wpcontent{
    background-color: #fff;
}
.btn{
    margin: 5px;
    min-height: 50px;
}
.button-primary{
    .btn-primary;
}
.postbox{
    position: relative;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #eff0f2;
    border-radius: 6px;
}
#wpcontent, #wpfooter {
    margin-left: 250px;
}
#adminmenu .wp-submenu-head, #adminmenu a.menu-top {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 2px;
}
#adminmenu{
    margin-bottom: 20px;
    color: #798795;
    border-radius: 6px;
}
#adminmenu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #2c3e50 !important;
    border-radius: 0 0 6px 6px;
}
#adminmenu li {
    position: relative;
    font-size: 18px;
    font-weight: 700 !important;
    line-height: 1.214;
    cursor: pointer;
    background: #34495e;
    background-size: 20px 20px;
    -webkit-transition: .25s;
    transition: .25s;
}
#adminmenu li:first-child {
    margin-top: 0;
}
#adminmenu li:last-child {
    padding-bottom: 21px;
    border-radius: 0 0 6px 6px;
}

#adminmenu li.wp-menu-separator {
    height: 0px;
     margin: 0px !important;
}
#adminmenu div.wp-menu-image {
    margin: 10px;
}
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
    padding: 0px;
}
#collapse-button {
    margin: 5px 22px;
}
.menu-icon-dashboard{
    border-radius: 6px 6px 0 0;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: #1abc9c !important;
    color: #fff;
}
#adminmenu .wp-submenu {
    left: 250px;
}