#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background-color: #fff !important;
    width: 250px;
}
#wpcontent{
    background-color: #fff;
}
.btn{
    margin: 5px;
    min-height: 30px;
}
.button-primary{
    .btn-primary;
}
.postbox{
    position: relative;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #eff0f2;
    border-radius: 6px;
}
#wpcontent, #wpfooter {
    margin-left: 250px;
}